body {
  background-color: blueviolet;
}

.App {
  text-align: center;
}

h1 {
  color: white;
}

.Card {
  border: 2px solid black;
  width: 70%;
  margin: 0 auto;
  background-color: white;
  padding: 1em;
}

button {
  margin-bottom: 1em;
  padding: 1em;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 2em;
  font-size: 2em;
  font-weight: bold;
}

p {
  padding-bottom: 1em;
  font-weight: bold;
  font-size: 2em;
}
